<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title th:text="${titulo}">Document</title>



<link rel="stylesheet" th:href="@{/adminlte/dist/css/adminlte.min.css}">
<link rel="stylesheet"
	th:href="@{/adminlte/plugins/fontawesome-free/css/all.min.css}">
<link rel="stylesheet"
	th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback}">
<link rel="stylesheet"
	href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" th:href="@{/adminlte/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css}">
<link rel="stylesheet" th:href="@{/adminlte/plugins/toastr/toastr.min.css}">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
	crossorigin="anonymous">
<link rel="stylesheet"  th:href="@{/fontawesome/fontawesome-free/css/all.min.css}">


    


</head>
<body class="hold-transition sidebar-mini layout-navbar-fixed">


	<div class="wrapper">



		<section  th:fragment="header">

			<nav
				class="main-header navbar navbar-expand navbar-white navbar-light ">
				<!-- Left navbar links -->
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link"
						data-widget="pushmenu" href="#" role="button"><i
							class="fas fa-bars"></i></a></li>
					

				</ul>

				<!-- Right navbar links -->
				<ul class="navbar-nav ml-auto">
				<li sec:authorize="!isAuthenticated()" class="nav-item">
						<a th:href="@{/login}" class="btn"
						  type="button">Login <i class="fa-solid fa-right-to-bracket"></i>
						  </a>
					</li>
					<li sec:authorize="isAuthenticated()" class="nav-item">
					<form th:action="@{/logout}" method="post">
						<button class="btn"
						  type="submit">Cerrar Sesión <i class="fas fa-sign-out-alt"></i>
					</button>
					</form>
					</li>
					
				</ul>
			</nav>
			
			<!-- Main Sidebar Container -->
			<aside class="main-sidebar sidebar-dark-secondary elevation-4">
				<!-- Brand Logo -->
				<a href="../../index3.html" class="brand-link text-decoration-none"> <img
					th:src="@{/images/torre1.jpg}" alt="AdminLTE Logo"
					class="brand-image img-circle elevation-3" style="opacity: .8">
					<span class="brand-text font-weight-light" >BOXERCROSSGYM</span>
				</a>

				<!-- Sidebar -->
				<div class="sidebar">
					<!-- Sidebar user (optional) -->
					<div class="user-panel mt-3 pb-3 mb-3 d-flex">
						<div class="image">
							<img th:src="@{/adminlte/dist/img/user2-160x160.jpg}"
								class="img-circle elevation-2" alt="User Image">
						</div>
						<div class="info">
							<!-- <a href="#" class="d-block nav-link" sec:authentication="name">Alexander Pierce</a>  -->
							<a href="#" class="d-block nav-link" th:text="${nombre}"></a>
						</div>
					</div>



					<!-- Sidebar Menu -->
					<nav class="mt-2">
						<ul class="nav nav-pills nav-sidebar flex-column"
							data-widget="treeview" role="menu" data-accordion="false">
							<!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
							<li class="nav-item"><a href="#" class="nav-link"> <i class=" nav-icon fa-solid fa-house"></i>
									<p>Inicio</p>
							</a></li>
							<li class="nav-item"><a th:href="@{/listar}"
								class="nav-link"> <i class="nav-icon fas fa-users"></i>
									<p>Clientes</p>
							</a></li>
							<li class="nav-item"><a th:href="@{/pago/listar}"
								class="nav-link"> <i class="nav-icon fa-solid fa-receipt"></i>
									<p>Pagos</p>
							</a></li>

							<li class="nav-item">

								<a href="#" class="nav-link">
									<i class="nav-icon fa-solid fa-dumbbell"></i>
									<p>
										Entrenamiento
										<i class="right fas fa-angle-left"></i>
									</p>
								</a>

								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a th:href="@{/entrenamiento/agregar}" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Agregar Entreno</p>
										</a>
									</li>
								</ul>
							</li>





						</ul>
					</nav>
					<!-- /.sidebar-menu -->
				</div>
				<!-- /.sidebar -->
			</aside>
			
		</section>
		
		<section th:fragment="alertas">
			<div class="alert alert-danger text-center fs-1 fw-bold fst-italic"
			th:if="${danger != null}" th:text="${danger}"></div>
		<div class="alert alert-success text-center fs-1 fw-bold fst-italic"
			th:if="${success != null}" th:text="${success}"></div>
		<div class="alert alert-warning text-center fs-1 fw-bold fst-italic"
			th:if="${warning != null}" th:text="${warning}"></div>
		<div class="alert alert-info text-center fs-1 fw-bold fst-italic"
			th:if="${info != null}" th:text="${info}"></div>
		<div class="alert alert-danger text-center fs-1 fw-bold fst-italic"
			th:if="${error != null}" th:text="${error}"></div>
		</section>

		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			

			<!-- Main content -->


			<!-- /.content -->
		</div>


		
		
		<footer class="main-footer" th:fragment="footer">
			<hr />
				
		</footer>
		<section  th:fragment="scripts">
			<hr />
				<script th:src="@{/js/jquery-ui.min.js}">	</script>
				<script th:src="@{/adminlte/plugins/jquery/jquery.min.js}"></script>
				<script th:src="@{/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
				<script th:src="@{/adminlte/plugins/sweetalert2/sweetalert2.min.js}"></script>
				<script th:src="@{/adminlte/plugins/toastr/toastr.min.js}"></script>
				<script th:src="@{/adminlte/dist/js/adminlte.min.js}"></script>
				<script th:src="@{/adminlte/dist/js/demo.js}"></script>
				<script th:inline="javascript">
				
	$(function () {
		var successMessage = /*[[${success}]]*/null;
		var errorLoginMessage =  /*[[${errorLogin}]]*/null;
		var Toast = Swal.mixin({
			  position: 'top-end',
			  icon: 'success',
			  title: 'Inicio de Sesión Exitoso',
			  showConfirmButton: false,
			  timer: 3000
			})
        function mostrarAlert() {
			Toast.fire({
				icon : "success",
				title : successMessage
			});
		}
		function mostrarAlertErrorLogin(){
			Toast.fire({
				position: 'top-end',
				icon: 'error',
				title: errorLoginMessage,
				showConfirmButton: false,
				timer: 5000
			});
		}
        if (successMessage !== null) {
			console.log("LA VARIABLE NO ES NULA " + successMessage);
			mostrarAlert();
		}
        
        if (errorLoginMessage !== null) {
			console.log("LA VARIABLE NO ES NULA " + errorLoginMessage);
			mostrarAlertErrorLogin();
		}
      });
	</script>
		</section>




		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>

	</div>


</body>
</html>