<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/plantillaAdmin.html :: head}"></head>
<body class="hold-transition sidebar-mini layout-navbar-fixed">

	<div class="wrapper">

		<section th:replace="~{layout/plantillaAdmin.html :: header}"></section>



		<div class="content-wrapper">

			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<!--  -->
						
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>

			<section class="content mt-1">


			</section>
		</div>

		<footer th:replace="~{layout/plantillaAdmin.html :: footer}"></footer>
		<section th:replace="~{layout/plantillaAdmin.html :: scripts}"></section>

	</div>

</body>
</html>