<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/loginSuccess.html :: head}">    
</head>
<header th:replace="~{layout/loginSuccess.html :: header}"></header>
<body>
<div class="container">
    <a onclick="goBack()" class="btn" style="background-color: #fcce78; border-color: #000; color: black;">volver a editar el proyecto.</a>
    <br>
    <br>
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Documentos</h1>                
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>URL</th>
                        <th>Fecha</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="tbody-light">
                
                    <tr th:each="documento : ${documentos}">
                        <td th:text="${documento.nombre}"></td>
                        <td th:text="${documento.descripcion}"></td>
                        <td>
                                <a target="_blank" th:href="@{${documento.url}}" th:text="${documento.url}"></a>
                        </td>
                        <td th:text="${documento.fecha}"></td>
                        <td>
                            <a class="btn btn-primary" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'') or !hasRole(''ROLE_USERSCA'')')}" th:href="@{/documento/editar/{id}(id=${documento.id})}">Editar</a>
                            <a class="btn btn-primary" th:if="${#authorization.expression('!hasRole(''ROLE_ADMIN'') and hasRole(''ROLE_USERSCA'') and !hasRole(''ROLE_USERST'')')}" th:href="@{/documento/editar/{id}(id=${documento.id})}">Mostrar</a>
                            <a class="btn btn-danger" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'') or !hasRole(''ROLE_USERSCA'')')}" th:href="@{/documento/eliminar/{id}(id=${documento.id})}">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-success" sec:authorize="hasRole('ROL_ADMIN')" th:href="@{/documento/crear}">Registrar un Documento</a> 
        </div>
    </div>
</div>
</body>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<script src="js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
