<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="UTF-8">
<title>Editar Documento</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

	<div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">Registrar Proyecto</h1>
              <form th:action="@{/documento/editar/{id}(id=${documento.id})}" th:object="${documento}" method="post">
                  <div class="form-group">
                      <label for="nombre">Nombre:</label>
                      <input type="text" class="form-control" id="nombre" name="nombre" th:value="*{nombre}" required>
                  </div>
                  
                  <div class="form-group">
                      <label for="descripcion">Descripcion:</label>
                      <textarea  class="form-control" id="descripcion" name="descripcion" th:value="*{descripcion}" rows="3" required></textarea>
                  </div>
                  <div class="form-group">
                      <label for="url">URL:</label>
                      <input type="text" class="form-control" id="url" name="url" th:value="*{url}" required>
                  </div>
                  <div class="form-group">
                      <label for="fecha">Descripción:</label>
                      <input type="date" class="form-control" id="fecha" name="fecha" th:value="*{fecha}"  required>
                  </div>
                  <button type="submit" class="btn btn-primary">Editar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
	

 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>