<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/loginSuccess.html :: head}">    
</head>
<header th:replace="~{layout/loginSuccess.html :: header}"></header>
<body>


  <br>
    <div class="container">
        <div class="row">            
            <div class="col-sm-6 col-md-4" th:object="${proyecto}">
                <a th:href="@{/proyecto/listar}" class="btn" style="background-color: #fcce78; border-color: #000; color: black;">volver a ver los proyectos</a>
                <br>
                <br>
                <div class="card" style="width: 65rem;">
                    <form th:action="@{'/proyecto/editar/' + *{id}}" method="post" id="proyectoEditForm">
                        <div class="card-body">
                            <h1 class="card-title" th:text="*{nombre}"></h1>
                            <input type="text" id="nombre" name="nombre" th:value="*{nombre}" hidden>
                            <div class="form-group">
                                <label for="encargado">Encargado:</label>
                                <select id="trabajador" name="trabajador" class="form-control" th:field="*{trabajador}" disabled>
                                    <option th:each="trabajador : ${trabajadores}" th:value="${trabajador.id}" th:text="${trabajador.nombre}" readonly></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="fechaInicio">Fecha de Inicio:</label>
                                <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" th:value="*{fechaInicio}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="fechaFin">Fecha de Fin:</label>
                                <input type="date" class="form-control" id="fechaFin" name="fechaFin" th:value="*{fechaFin}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="descripcion">Descripción:</label>
                                <textarea class="form-control" id="descripcion" name="descripcion" th:text="*{descripcion}" rows="3" readonly></textarea>
                            </div>                            
                            <a class="btn" sec:authorize="hasRole('ROLE_ADMIN')" id="editar" style="background-color: #fcce78; border-color: #000; color: black;" onclick="editProyecto();">Editar proyecto</a>                            
                            <a th:href="@{'/proyecto/editar/' + *{id}}" id="cancelarEditar" class="btn" style="background-color: #fcce78; border-color: #000; color: black;" hidden="true">Cancelar Cambios</a>
                            <button type="submit" id="aceptarEditar" class="btn" style="background-color: #fcce78; border-color: #000; color: black;" hidden="true">Aplicar Cambios</a>
                        </div>
                    </form>                   	
                </div>
            </div>
        </div>
        <br>
        <div class="row">            
            <div class="col-sm-6 col-md-4">
                <br>
                <div class="card" style="width: 65rem;">
                    <div class="card-body">
                        <h1 class="card-title">Documentos</h1>
                        <a class="btn" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'') or hasRole(''ROLE_USER'') or hasRole(''ROLE_USERST'')')}" th:href="@{/documento/crear}" id="editar" style="background-color: #fcce78; border-color: #000; color: black;">Crear documento</a>          
                        <a class="btn" th:href="@{/documento}" id="listar" style="background-color: #fcce78; border-color: #000; color: black;">Listar documentos</a>          
                        <br>
                        <br>
                        <div class="card" style="width: 60rem;">
                            <table class="table">
						            <thead class="thead-light">
						                <tr>
						                    <th>Nombre</th>
						                    <th>Descripcion</th>
						                    <th>URL</th>
						                    <th>Fecha</th>
						                    <th>Acciones</th>
						                </tr>
						            </thead>
						            <tbody>
						            
						            	 <tr th:each="documento : ${documentos}">
						                    <td th:text="${documento.nombre}"></td>
						                    <td th:text="${documento.descripcion}"></td>
						                     <td>
						                   		 <a  target="_blank"  th:href="@{${documento.url}}" th:text="${documento.url}"></a>
						                   	</td>
						                    <td th:text="${documento.fecha}"></td>
						                    <td>
						                        <a class="btn btn-primary" sec:authorize="!hasRole('ROLE_USERSCA')" th:href="@{/documento/editar/{id}(id=${documento.id})}">Editar</a>
						                        <a class="btn btn-primary" th:if="${#authorization.expression('hasRole(''ROLE_USERSCA'') and !hasRole(''ROLE_ADMIN'') and !hasRole(''ROLE_USERST'')')}" th:href="@{/documento/editar/{id}(id=${documento.id})}">Mostrar</a>
						                        <a class="btn btn-danger" th:if="${#authorization.expression('!hasRole(''ROLE_USERSCA'') and hasRole(''ROLE_USER'') or hasRole(''ROLE_ADMIN'') or hasRole(''ROLE_USERST'')')}" th:href="@{/documento/eliminar/{id}(id=${documento.id})}">Eliminar</a>
						                    </td>
						                </tr>
						            </tbody>
						        </table>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row" sec:authorize="!hasRole('ROLE_USERST')">            
            <div class="col-sm-6 col-md-4">
                <br>
                <div class="card" style="width: 65rem;">
                    <div class="card-body">
                        <h1 class="card-title">Tareas</h1>
                        <a class="btn" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/tarea/registrar}" id="editar" style="background-color: #fcce78; border-color: #000; color: black;">Crear tarea</a>          
                        <a class="btn" th:href="@{/tarea/listar/tareas}" id="listar" style="background-color: #fcce78; border-color: #000; color: black;">Listar tarea</a>          
                        <br>
                        <br>
                        <div class="card" style="width: 60rem;">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Descripcion</th>
                                        <th>Fecha Inicio</th>
                                        <th>Fecha Fin</th>
                                        <th>Asignado a:</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>                                
                                     <tr th:each="tarea : ${tareas}">
                                        <td th:text="${tarea.nombre}"></td>
                                        <td th:text="${tarea.descripcion}"></td>
                                        <td th:text="${tarea.fechaInicio}"></td>
                                        <td th:text="${tarea.fechaFin}"></td>
                                        <td th:text="${tarea.trabajadorAsignado.nombre}"></td>
                                        <td>
                                            <a class="btn btn-primary" sec:authorize="hasRole('ROLE_ADMIN')"th:href="@{/tarea/editar/{id}(id=${tarea.id})}">Editar</a>
                                            <a class="btn btn-primary" sec:authorize="!hasRole('ROLE_ADMIN')" th:href="@{/tarea/editar/{id}(id=${tarea.id})}">Mostrar</a>
                                            <a class="btn btn-danger" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/tarea/eliminar/{id}(id=${tarea.id})}">Eliminar</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>

        function editProyecto(){
            const fechaInicio = document.getElementById("fechaInicio");
            fechaInicio.removeAttribute("readonly");    

            const fechaFin = document.getElementById("fechaFin");
            fechaFin.removeAttribute("readonly");

            const descripcion = document.getElementById("descripcion");
            descripcion.removeAttribute("readonly");

            const editar = document.getElementById("editar");
            editar.hidden = true;
            
            const aceptarEditar = document.getElementById("aceptarEditar");
            aceptarEditar.hidden = false;

            const cancelarEditar = document.getElementById("cancelarEditar");
            cancelarEditar.hidden = false;

            const trabajador = document.getElementById("trabajador");
            trabajador.removeAttribute("disabled");
        }

        document.getElementById("proyectoEditForm").addEventListener("submit", function(event) {
            event.preventDefault(); // Prevenir el envío del formulario normal

            var form = event.target;
            var formData = new FormData(form);

            fetch(form.action, {
                method: "PUT",
                body: formData
            })
            .then(function(response) {                                
                Swal.fire({
                    icon: 'success',
                    title: 'Exitoso',
                    text: 'Se modificó el proyecto de manera exitosa',
                    confirmButtonText: 'OK'
                }).then(function() {
                    location.reload(); // Recargar la página
                });                 
            })
            .catch(function(error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Hubo un problema al modificar el proyecto.',
                    confirmButtonText: 'OK'
                });
            });
        });
    </script>
</body>
</html>
