<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <title>Servicios de Webdificar</title>
    <style>
        body {
            padding-top: 70px;
            padding-bottom: 100px;
            background-color: #F5DEB3;
        }

        .card {
            margin-bottom: 2rem;
        }

        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 100px;
            color: aliceblue;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Webdificar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Inicio</a>
                </li>
               <li class="nav-item">
                    <a class="nav-link" th:href="@{/nav/acerca}">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/nav/servicio}">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/nav/contacto}">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="d-flex">
            <a type="button" class="btn btn-dark" th:href="@{/login}">Iniciar Sesión</a>
            <a type="button" class="btn btn-dark" th:href="@{/login/registro}">Registrar</a>
        </div>
    </div>

</nav>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Servicios de Webdificar</h1>
            <p class="card-text">En Webdificar, ofrecemos una amplia gama de servicios diseñados para satisfacer todas las necesidades de gestión de proyectos de obras civiles. Nuestro equipo de expertos está comprometido en brindar soluciones integrales y personalizadas para garantizar el éxito de tus proyectos. A continuación, te presentamos algunos de los servicios que ofrecemos:</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">1. Planificación y programación de proyectos</h5>
            <p class="card-text">Nuestros expertos en gestión de proyectos te ayudarán a desarrollar un plan detallado y una programación efectiva para tus proyectos de obras civiles. Utilizamos herramientas avanzadas y metodologías probadas para asegurarnos de que los proyectos se ejecuten de manera eficiente y dentro del plazo establecido.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">2. Control de costos y presupuestos</h5>
            <p class="card-text">El control de costos es crucial en cualquier proyecto de obra civil. Nuestro equipo te ayudará a establecer un presupuesto adecuado y a realizar un seguimiento constante de los costos a lo largo del proyecto. Utilizamos herramientas especializadas para identificar posibles desviaciones y tomar medidas correctivas oportunas.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">3. Gestión de recursos humanos</h5>
            <p class="card-text">Contamos con profesionales capacitados en la gestión de recursos humanos en proyectos de obras civiles. Te ayudaremos a seleccionar y asignar el personal adecuado para cada etapa del proyecto, optimizando así el rendimiento y la eficiencia del equipo de trabajo.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">4. Monitoreo y control de calidad</h5>
            <p class="card-text">La calidad es fundamental en cualquier proyecto de obras civiles. Nuestro equipo se encargará de establecer los estándares de calidad, implementar sistemas de control y monitoreo, y llevar a cabo inspecciones regulares para garantizar que se cumplan los requisitos y se entregue un producto final de alta calidad.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">5. Gestión de riesgos y seguridad</h5>
            <p class="card-text">Identificar y mitigar los riesgos es esencial para el éxito de cualquier proyecto de obra civil. Nuestro equipo te ayudará a identificar los posibles riesgos, desarrollar estrategias de mitigación y garantizar el cumplimiento de las normas de seguridad en todas las etapas del proyecto.</p>
        </div>
    </div>

</div>

<footer class="footer bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h6 class="text fw-bold">CONTACTO:</h6>
                <ul class="list-unstyled">
                    <li>Kevin Andres Sarmiento Sierra - 1152061</li>
                    <li>Leonardo Trujillo Vega - 1152071</li>
                    <li>Kevin Alexis Eslava Mantilla - 1152066</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
