<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/loginSuccess.html :: head}">    
</head>
<header th:replace="~{layout/loginSuccess.html :: header}"></header>
<body>
<div class="container">
    <a onclick="goBack()" class="btn" style="background-color: #fcce78; border-color: #000; color: black;">volver a editar el proyecto.</a>
    <br>
    <br>
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Tareas</h1>
        
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Fecha</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Fin</th>
                        <th>Proyecto:</th>
                        <th>Trabajador Asignado</th>
                        <th>Trabajador encargado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                
                    <tr th:each="tarea : ${tareas}">
                        <td th:text="${tarea.nombre}"></td>
                        <td th:text="${tarea.descripcion}"></td>
                        <td th:text="${tarea.fecha}"></td>
                        <td th:text="${tarea.fechaInicio}"></td>
                        <td th:text="${tarea.fechaFin}"></td>
                        <td th:text="${tarea.proyecto.nombre}"></td>
                        <td th:text="${tarea.trabajadorAsignado.nombre}"></td>
                        <td th:text="${tarea.trabajadorEncargado.nombre}"></td>
                        <td>
                            <a class="btn btn-primary" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/tarea/editar/{id}(id=${tarea.id})}">Editar</a>
                            <a class="btn btn-primary" sec:authorize="!hasRole('ROLE_ADMIN')" th:href="@{/tarea/editar/{id}(id=${tarea.id})}">Mostrar</a>
                            <a class="btn btn-danger" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/tarea/eliminar/{id}(id=${tarea.id})}">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-success" sec:authorize="hasRole('ROL_ADMIN')" th:href="@{/tarea/registrar}">Registrar una Tarea</a> 
        </div>
    </div>
</div>
</body>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<script src="js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>  
