<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>


<div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">Registrar tarea</h1>
              <form th:action="@{/tarea/editar/{id}(id=${tarea.id})}" th:object="${tarea}" method="post">
                  <div class="form-group">
                      <label for="nombre">Nombre:</label>
                      <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}" required>
                  </div>
                  <div class="form-group">
                    <label for="descripcion">Descripción:</label>
                    <textarea class="form-control" id="descripcion" name="descripcion" th:field="*{descripcion}" rows="3" required></textarea>
                  </div>
                  <div class="form-group">
                      <label for="fecha">Fecha de Creación:</label>
                      <input type="date" class="form-control" id="fecha" name="fecha" th:field="*{fecha}" required>
                  </div>
                  <div class="form-group">
                    <label for="fechaInicio">Fecha de Inicio:</label>
                    <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" th:field="*{fechaInicio}" required>
                </div>
                  <div class="form-group">
                      <label for="fechaFin">Fecha de Fin:</label>
                      <input type="date" class="form-control" id="fechaFin" name="fechaFin" th:field="*{fechaFin}" required>
                  </div>
                  <div class="form-group">
                    <label for="proyecto">Proyecto al que pertenece:</label>
                    <select id="proyecto" name="proyecto" class="form-control" th:field="*{proyecto}">
                        <option th:each="proyecto : ${proyectos}" th:value="${proyecto.id}" th:text="${proyecto.nombre}"></option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="trabajadorAsignado">Se asigna al trabajador:</label>
                    <select id="trabajadorAsignado" name="trabajadorAsignado" class="form-control" th:field="*{trabajadorAsignado}">
                        <option th:each="trabajador : ${trabajadores}" th:value="${trabajador.id}" th:text="${trabajador.nombre}"></option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="trabajadorEncargado">Es asignado por el trabajador:</label>
                    <select id="trabajadorEncargado" name="trabajadorEncargado" class="form-control" th:field="*{trabajadorEncargado}">
                        <option th:each="trabajador : ${trabajadores}" th:value="${trabajador.id}" th:text="${trabajador.nombre}"></option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary">Editar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>