<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/loginSuccess.html :: head}">    
</head>
<header th:replace="~{layout/loginSuccess.html :: header}"></header>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Webdificar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio</a>
                </li>               
            </ul>
        </div>
        <div class="d-flex">
            <a type="button" class="btn btn-dark" th:href="@{/login/registro}"><i class="bi bi-person-circle" style="font-size: 25px;"></i></i></a>
        </div>
    </div>
  </nav>


    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-md-6">
          <a onclick="goBack()" class="btn" style="background-color: #fcce78; border-color: #000; color: black;">volver a editar el proyecto.</a>
          <br>
          <br>
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">Registrar tarea</h1>
              <form th:action="@{/tarea/crear}" th:object="${tarea}" method="post">
                  <div class="form-group">
                      <label for="nombre">Nombre:</label>
                      <input type="text" class="form-control" id="nombre" name="nombre" th:value="*{nombre}" required>
                  </div>
                  <div class="form-group">
                    <label for="descripcion">Descripción:</label>
                    <textarea class="form-control" id="descripcion" name="descripcion" th:value="*{descripcion}" rows="3" required></textarea>
                  </div>
                  <div class="form-group">
                      <label for="fecha">Fecha de Creación:</label>
                      <input type="date" class="form-control" id="fecha" name="fecha" th:value="*{fecha}" required>
                  </div>
                  <div class="form-group">
                    <label for="fechaInicio">Fecha de Inicio:</label>
                    <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" th:value="*{fechaInicio}" required>
                </div>
                  <div class="form-group">
                      <label for="fechaFin">Fecha de Fin:</label>
                      <input type="date" class="form-control" id="fechaFin" name="fechaFin" th:value="*{fechaFin}" required>
                  </div>
                  <div class="form-group">
                    <label for="proyecto">Proyecto al que pertenece:</label>
                    <select id="proyecto" name="proyecto" class="form-control" th:field="*{proyecto}">
                        <option th:each="proyecto : ${proyectos}" th:value="${proyecto.id}" th:text="${proyecto.nombre}"></option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="trabajadorAsignado">Se asigna al trabajador:</label>
                    <select id="trabajadorAsignado" name="trabajadorAsignado" class="form-control" th:field="*{trabajadorAsignado}">
                        <option th:each="trabajador : ${trabajadores}" th:value="${trabajador.id}" th:text="${trabajador.nombre}"></option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="trabajadorEncargado">Es asignado por el trabajador:</label>
                    <select id="trabajadorEncargado" name="trabajadorEncargado" class="form-control" th:field="*{trabajadorEncargado}">
                        <option th:each="trabajador : ${trabajadores}" th:value="${trabajador.id}" th:text="${trabajador.nombre}"></option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary">Crear</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
<script>
    function goBack() {
        window.history.back();
    }
</script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
